
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CSOL</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="{% static 'games/img/favicon.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'games/style/bootstrap.min.css' %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'games/style/icon.css' %}">
		<link rel="stylesheet" href="{% static 'games/style/idangerous.swiper.css' %}">
		<link rel="stylesheet" href="{% static 'games/style/stylesheet.css' %}">
	    
	</head>
	<body>

	<!-- THE HEADER -->
	<header>
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="#"><img src="{% static 'games/img/logo.png' %}" alt="logo" class="be_logo">
					</a>
				</div>
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx">
						<span></span>
					</button>
					<ul class="header-menu" id="one">
						<li><a href="#">Игры</a></li>
						<li><a href="#">Приложения</a></li>
						<li><a href="#">Новое</a></li>
						<li><a href="#">Популярное</a></li>
						<li><a href="#" >О сайте</a><i class="fa fa-angle-down"></i>
							<ul style="background-color: #39414E">
								<li><a href="#">О нас</a></li>
								<li><a href="#">Обновления</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Разработчикам</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="login-header-block">
					<div class="login_block">
						<a class="btn-login btn color-1 size-2 hover-2" href="#">
						Войти</a>
					</div>	
				</div>
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<form action="./" class="input-search">
						<input type="text" required="" placeholder="Поиск">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>
				</div>
				<div class="col-md-10 ">
					<div class="for-be-dropdowns">
						<div class="be-drop-down">
							<i class="icon-projects"></i>
							<span class="be-dropdown-content"> Projects	</span>
							<ul class="drop-down-list">
								<li><a>Item - 1</a></li>
								<li><a>Item - 2</a></li>
								<li><a>Item - 3</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-creative"></i>
							<span class="be-dropdown-content">All Creative Filds
							</span>
							<ul class="drop-down-list">
								<li><a>Item - 1</a></li>
								<li><a>Item - 2</a></li>
								<li><a>Item - 3</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-features"></i>
							<span class="be-dropdown-content">Features
							</span>
							<ul class="drop-down-list">
								<li><a>Featured</a></li>
								<li><a>Most Appreciated</a></li>
								<li><a>Most Viewed</a></li>
								<li><a>Most Discussed</a></li>
								<li><a>Most Recent</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
						<div class="be-vidget">
							<h3 class="letf-menu-article">Категории</h3>
							<div class="creative_filds_block">
								<div class="ul">
									<a href="blog-detail-2.html">Шутеры		        </a>
									<a href="blog-detail-2.html">Стратегии		    </a>
									<a href="blog-detail-2.html">Симуляторы	        </a>
									<a href="blog-detail-2.html">Гонки		        </a>
									<a href="blog-detail-2.html">Драки		        </a>
								</div>
							</div>
						</div>
						<div class="be-vidget">
							<h3 class="letf-menu-article">Теги</h3>
							<div class="tags_block clearfix">
								<ul>
									<li><a href="blog-detail-2.html">HTML5</a></li>
									<li><a href="blog-detail-2.html">Unity</a></li>
									<li><a href="blog-detail-2.html">Мобильные</a></li>
									<li><a href="blog-detail-2.html">Для мальчиков</a></li>
									<li><a href="blog-detail-2.html">Для девочек</a></li>
									<li><a href="blog-detail-2.html">18+</a></li>
									<li><a href="blog-detail-2.html">От CSOL</a></li>
								</ul>
							</div>
						</div>
				</div>

				<div class="col-md-10">
					<div class="row _post-container_">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- THE FOOTER -->
	<footer>
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">	
					<div class="col-md-3 col-xl-4">
						<div class="footer-block">
							<h1 class="footer-title">About Us</h1>
							<p>Vestibulum tincidunt, augue fermentum accumsan viverra, eros dui rutrum libero, nec imperdiet felis sem in augue luctus <a href="blog-detail-2.html">diam a porta</a> iaculis. Vivamus sit amet fermentum nisl. Duis id <a href="blog-detail-2.html">massa id purus</a> tristique varius a sit amet est. Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc.</p>
							<ul class="soc_buttons">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xl-2">
						<div class="footer-block">
							<h1 class="footer-title">Some Links</h1>
							<div class="row footer-list-footer">
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="blog-detail-2.html">About Us</a></li>
									<li><a href="blog-detail-2.html">Help</a></li>
									<li><a href="blog-detail-2.html">Contacts</a></li>
									<li><a href="blog-detail-2.html">Job</a></li>
									<li><a href="blog-detail-2.html">Projets</a></li>
								</ul></div>
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="blog-detail-2.html">New Works</a></li>
									<li><a href="blog-detail-2.html">Popular Authors</a></li>
									<li><a href="blog-detail-2.html">New Authors</a></li>
									<li><a href="blog-detail-2.html">Career</a></li>
									<li><a href="blog-detail-2.html">FAQ</a></li>
								</ul></div>
							</div>
						</div>
					</div>				
					<div class="col-md-3 galerry">
						<div class="footer-block">					
							<h1 class="footer-title">Recent Works</h1>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g1.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g2.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g3.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g4.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g5.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g6.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g7.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g8.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g9.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g10.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g11.jpg' %}" alt=""></a>
							<a href="blog-detail-2.html"><img src="{% static 'games/img/g12.jpg' %}" alt=""></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-block">
							<h1 class="footer-title">Subscribe On Our News</h1>
							<form action="./" class="subscribe-form">
								<input type="text" placeholder="Yout Name" required>
								<div class="submit-block">
									<i class="fa fa-envelope-o"></i>
									<input type="submit" value="">
								</div>
							</form>
							<div class="soc-activity">
								<div class="soc_ico_triangle">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="message-soc">
									<div class="date">16h ago</div>
									<a href="blog-detail-2.html" class="account">@faq</a> vestibulum accumsan est <a href="blog-detail-2.html" class="heshtag">blog-detail-2.htmlmalesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
						<span class="copy">© 2015. All rights reserved. <span class="white"><a href="blog-detail-2.html"> NRGNetwork</a></span></span>
						<span class="created">Created with LOVE by <span class="white"><a href="blog-detail-2.html"> NRGThemes</a></span></span>
					</div>
					<div class="right">
						<a class="btn color-7 size-2 hover-9">About Us</a>
						<a class="btn color-7 size-2 hover-9">Help</a>
						<a class="btn color-7 size-2 hover-9">Privacy Policy</a>
					</div>
				</div>			
			</div>
		</div>		
	</footer>

	<!-- SCRIPTS	 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{% static 'games/script/bootstrap.min.js' %}"></script>
	<script src="{% static 'games/script/idangerous.swiper.min.js' %}"></script>
	<script src="{% static 'games/script/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'games/script/jquery.viewportchecker.min.js' %}"></script>
	<script src="{% static 'games/script/global.js' %}"></script>
	</body>
</html>