{% extends 'base.html' %}
{% load static %}

{% block content %}
<br> <!-- УСТРАНИТЬ -->

    <div class="row">
        <div class="col-md-2 left-feild">
            <form action="./" class="input-search">
                <input type="text" required="" placeholder="Поиск">
                    <i class="fa fa-search"></i>
                    <input type="submit" value="">
            </form>
        </div>
        <div class="col-md-10 ">
            <div class="for-be-dropdowns">
                <div class="be-drop-down">
                    <i class="icon-projects"></i>
                    <span class="be-dropdown-content"> Projects	</span>
                    <ul class="drop-down-list">
                        <li><a>Item - 1</a></li>
                        <li><a>Item - 2</a></li>
                        <li><a>Item - 3</a></li>
                    </ul>
                </div>
                <div class="be-drop-down">
                    <i class="icon-creative"></i>
                    <span class="be-dropdown-content">All Creative Filds
                    </span>
                    <ul class="drop-down-list">
                        <li><a>Item - 1</a></li>
                        <li><a>Item - 2</a></li>
                        <li><a>Item - 3</a></li>
                    </ul>
                </div>
                <div class="be-drop-down">
                    <i class="icon-features"></i>
                    <span class="be-dropdown-content">Features
                    </span>
                    <ul class="drop-down-list">
                        <li><a>Featured</a></li>
                        <li><a>Most Appreciated</a></li>
                        <li><a>Most Viewed</a></li>
                        <li><a>Most Discussed</a></li>
                        <li><a>Most Recent</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-md-2 left-feild">
                <div class="be-vidget">
                    <h3 class="letf-menu-article">Категории</h3>
                    <div class="creative_filds_block">
                        <div class="ul">
                            <a href="blog-detail-2.html">Шутеры		        </a>
                            <a href="blog-detail-2.html">Стратегии		    </a>
                            <a href="blog-detail-2.html">Симуляторы	        </a>
                            <a href="blog-detail-2.html">Гонки		        </a>
                            <a href="blog-detail-2.html">Драки		        </a>
                        </div>
                    </div>
                </div>
                <div class="be-vidget">
                    <h3 class="letf-menu-article">Теги</h3>
                    <div class="tags_block clearfix">
                        <ul>
                            <li><a href="blog-detail-2.html">HTML5</a></li>
                            <li><a href="blog-detail-2.html">Unity</a></li>
                            <li><a href="blog-detail-2.html">Мобильные</a></li>
                            <li><a href="blog-detail-2.html">Для мальчиков</a></li>
                            <li><a href="blog-detail-2.html">Для девочек</a></li>
                            <li><a href="blog-detail-2.html">18+</a></li>
                            <li><a href="blog-detail-2.html">От CSOL</a></li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="col-md-10">
            <div class="row _post-container_">
                {% for game in games_list %}
                    <div class="custom-column-5">
                        <div class="be-post">
                            <a href="{% url 'games:game_detail' slug=game.slug %}" class="be-img-block">
                            <img src="/{{ game.image }}" alt="omg">
                            </a>
                            <a href="{% url 'games:game_detail' slug=game.slug %}" class="be-post-title">{{ game.title }}</a>

                            <div class="author-post">
                                <img src="{% static 'favicon.svg' %}" alt="" class="ava-author">
                                <span>by <a href="{% url 'games:game_detail' slug=game.slug %}">{{ game.author }}</a></span>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}